.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productContainer {
  height: auto;
  width: 90%;
  /* padding-top: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tShirts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tShirts img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 280px;
  width: 300px;
  margin: 5px;
  /* border: 1px solid;
  margin: 2px;  */
  object-fit: cover;
  cursor: pointer;
}



.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.title:hover {
  text-decoration: underline;
 
}



/* .blackTshirt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blackTshirt a {
  text-decoration: none;
}

.blackTshirt a:hover {
  text-decoration: underline;
}

.beigeTshirt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.beigeTshirt a {
  text-decoration: none;
}

.beigeTshirt a:hover {
  text-decoration: underline;
}

.blackFull {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blackFull a {
  text-decoration: none;
}

.blackFull a:hover {
  text-decoration: underline;
}

.blackOversize {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blackOversize a {
  text-decoration: none;
}

.blackOversize a:hover {
  text-decoration: underline;
}

.whiteTshirt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.whiteTshirt a {
  text-decoration: none;
}

.whiteTshirt a:hover {
  text-decoration: underline;
}

.blackPrint {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blackPrint a {
  text-decoration: none;
}

.blackPrint a:hover {
  text-decoration: underline;
}

.whiteMen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.whiteMen a {
  text-decoration: none;
}

.whiteMen a:hover {
  text-decoration: underline;
}

.whitevest {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.whitevest a {
  text-decoration: none;
}

.whitevest a:hover {
  text-decoration: underline;
}

.brownOversize {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.brownOversize a {
  text-decoration: none;
}

.brownOversize a:hover {
  text-decoration: underline;
}

.backPrint {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.backPrint a {
  text-decoration: none;
}

.backPrint a:hover {
  text-decoration: underline;
}

.whitePrint {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.whitePrint a {
  text-decoration: none;
}

.whitePrint a:hover {
  text-decoration: underline;
} */

/* .bottom {
  height: auto;
  width: 100%;
  display: flex;
}

.gallary {
  display: flex;
  flex-wrap: wrap;
}

.gallary img {
  width: 32%;
  margin: 2px;
} */

