.main {
  height: 100%;
  width: 100%;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  background-color: rgb(242, 242, 242);
}

.top {
  height: 10%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top img {
  height: 80px;
  width: 80px;
}

.bottom {
  height: 90%;
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.container {
  height: 380px;
  width: 70%;
  background-color: white;
  border-radius: 10px;
}

.logo {
  height: 70px;
  display: flex;
  gap: 15px;
  padding-left: 30px;
}

.logo img {
  height: 50px;
  width: 40px;
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}

.inputs {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-left: 30px;
}

.inputs input {
  height: 50px;
  width: 600px;
  padding-left: 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: bold;
  border: 1px solid rgb(190, 190, 190);
}

.btn {
  padding-top: 30px;
  padding-left: 30px;
}

button {
  height: 50px;
  width: 300px;
  border-radius: 10px;
  border: none;
  background-color: rgb(45, 169, 45);
  color: white;
  font-weight: 400;
  font-size: large;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.socials {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ship {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.ship img {
  height: 25px;
}


